<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrAxUQ5REXTCtN_yCaxkYhSJ7llztCIno</string>
	<key>GCM_SENDER_ID</key>
	<string>1017059764226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sellgo</string>
	<key>PROJECT_ID</key>
	<string>sellgo-be477</string>
	<key>STORAGE_BUCKET</key>
	<string>sellgo-be477.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017059764226:ios:ce7519a545608e56539f1b</string>
</dict>
</plist>